<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Elly</title>
    </head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/kako.css')}}"
    <body>
        <div id="izbornik">
            <a href="/home"><img id="ellyimg" src="../static/img/elly2.png"></a>
        </div>
        <br>
        <div id="select">
            <center>
            <center>
            <h1><u>Gradnja ljestvica</u></h1><br>
            <div class="kakoizracunati">
                <p>Svaka spomenuta ljestvica se može izgraditi malim i velikim sekundama. Zbog lakšeg zapisivanja i pamćenja, te intervalske pomake možemo zvati cijeli (velika sekunda) i pol' (mala sekunda).</p>
            </div>
            </center>
            <br>
            <center>
            <div class="kakoizracunati">
                <h2>Dur</h2>
                <p>Počevši od početnog tona gradimo:</p>
                <p>CIJELI CIJELI POL CIJELI CIJELI CIJELI POL</p>
                <br>
                <img src="../static/img/durL.PNG"
            </div>
            </center>
            <br>
            <center>
                <div class="kakoizracunati">
                <h2>Mol</h2>
                <p>Počevši od temeljnog tona gradimo:</p>
                <p>CIJELI POL CIJELI CIJELI POL CIJELI CIJELI</p>
                <br>
                <img src="../static/img/molL.PNG"
                </div>
            </center>
            <br>
            <center>
                <div class="kakoizracunati">
                <h2>Dorska ljestvica</h2>
                <p>Dorsku ljestvicu gradimo isto kao i mol, ali joj povisimo šesti stupanj.</p>
                <p>Počevši od temeljnog tona gradimo:</p>
                <p>CIJELI POL CIJELI CIJELI CIJELI POL CIJELI</p>
                <br>
                <img src="../static/img/dorska.PNG"
                </div>
            </center>
            <br>
            <center>
                <div class="kakoizracunati">
                <h2>Frigijska ljestvica</h2>
                <p>Frigijsku ljestvicu gradimo isto kao i mol, ali joj smanjimo drugi stupanj.</p>
                <p>Počevši od temeljnog tona gradimo:</p>
                <p>POL CIJELI CIJELI CIJELI POL CIJELI CIJELI</p>
                <br>
                <img src="../static/img/frigijska.PNG"
                </div>
            </center>
            <br>
            <center>
                <div class="kakoizracunati">
                <h2>Lidijska ljestvica</h2>
                <p>Lidijsku ljestvicu gradimo isto kao i dur, ali joj povisimo četvrti stupanj.</p>
                <p>Počevši od temeljnog tona gradimo:</p>
                <p>CIJELI CIJELI CIJELI POL CIJELI CIJELI POL</p>
                <br>
                <img src="../static/img/lidijska.PNG"
                </div>
                <br>
            </center>
            <br>
            <center>
                <div class="kakoizracunati">
                <h2>Miksolidijska ljestvica</h2>
                <p>Miksolidijsku ljestvicu gradimo isto kao i dur, ali joj smanjimo sedmi stupanj.</p>
                <p>Počevši od temeljnog tona gradimo:</p>
                <p>CIJELI CIJELI POL CIJELI CIJELI POL CIJELI</p>
                <br>
                <img src="../static/img/miksolidijska.PNG"
                </div>
            </center>
                <br>
                <br>
                <br>
                <br>
                <div class="footer">
                    <a href="http://mihaeltalan.from.hr">Mihael Talan</a>
                </div>
            </center>
        </div>
    </body>
    <script>
    </script>
</html>