<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Elly</title>
    </head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/kako.css')}}"
    <body>
        <div id="izbornik">
            <a href="/home"><img id="ellyimg" src="../static/img/elly2.png"></a>
        </div>
        <br>
        <div id="select">
            <center>
            <center>
            <h1><u>Računanje akorada</u></h1><br>
            <div class="kakoizracunati">
                <h2>Durski kvintakord</h2>
                <p>Durski kvintakord se računa tako što se od temeljnog tona izgradi velika terca te se od tog tona izgradi mala terca. Drugi način izračuna je da se od temeljnog tona izračuna velika terca te da se od temeljnog tona izračuna čista kvinta.</p>
                <br>
                <img src="../static/img/dur.PNG"
            </div>
            </center>
            <br>
            <center>
                <div class="kakoizracunati">
                <h2>Molski kvintakord</h2>
                <p>Molski kvintakord se računa tako što se od temeljnog tona izgradi mala terca te se od tog tona izgradi velika terca. Drugi način izračuna je da se od temeljnog tona izračuna mala terca te da se od temeljnog tona izračuna čista kvinta.</p>
                <br>
                <img src="../static/img/mol.PNG"
                </div>
            </center>
            <br>
            <center>
                <div class="kakoizracunati">
                <h2>Smanjeni kvintakord</h2>
                <p>Smanjeni kvintakord se računa tako što se od temeljnog tona izgradi mala terca te se od tog tona izgradi još jedna mala terca. Drugi način izračuna je da se od temeljnog tona izračuna mala terca te da se od temeljnog tona izračuna smanjena kvinta.</p>
                <br>
                <img src="../static/img/sm.PNG"
                </div>
            </center>
            <br>
            <center>
                <div class="kakoizracunati">
                <h2>Povećani kvintakord</h2>
                <p>Povećani kvintakord se računa tako što se od temeljnog tona izgradi velika terca te se od tog tona izgradi još jedna velika terca. Drugi način izračuna je da se od temeljnog tona izračuna velika terca te da se od temeljnog tona izračuna povećana kvinta.</p>
                <br>
                <img src="../static/img/pov.PNG"
                </div>
            </center>
            <br>
            <br>
            <br>
            <br>
            <center>
                <h1><u>Računanje obrata</u></h1><br>
                <div class="kakoizracunati">
                    <h2>Kako izračunati obrat</h2>
                    <p>Najlakši način za izračunati bilo koji obrat je da prvo izračunamo kvintakord te da "pošaljemo" donji ton za oktavu više. Postupak učinimo jednom za sekstakord, a ponovimo ga za kvartsekstakord.</p>
                    <br>
                    <img src="../static/img/ob.PNG"
                </div>
                </center>
                <br>
                <br>
                <br>
                <br>
                <div class="footer">
                    <a href="http://mihaeltalan.from.hr">Mihael Talan</a>
                </div>
            </center>
        </div>
    </body>
    <script>
    </script>
</html>